* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: $text-font;
}

img {
    max-width: 100%;
}

html {
    font-size: 62.5%;
    @include responsive(1200px) {
        font-size: 55%;
    }
}

